* {
    /* box-sizing: border-box; */
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 1600px;
}

/* .conteiner {
    width: 1600px;
    height: 878px;
    margin: 0;
    padding: 0;
    border-radius: 32px;
    font-family: 'Roboto';
}  */

/* Header */
.header {
    width: 708px;
    height: 112px;
    margin-top: 51px;
    margin-left: 64px;
    padding: 0px, 88px, 0px, 0px;
    font-family: 'Roboto';
}

/* Content */
.content {
    /* width: 1600px; */
    display: grid;
    /* justify-content: center;
    align-content: center; */
    border-radius: 32px;
    /* margin-left: 64px;
    margin-top: 227px; */
    gap: 30px;
    /* list-style: none; */
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 335px 335px;
    font-family: 'Roboto';
}

.content__item {
    border-radius: 20px; 
    position: relative;   
}

.content__item-text {
    position: absolute;
    bottom: 20px;
    font-style: none;
    color: white;
    /* margin-left: 5px; */
}

.item1 {
    /* background: no-repeat url('./assets/Vietnam_1.png'); */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item2 {
    /* background: no-repeat url('./assets/Old Rain-2.png'); */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item3 {
    /* background: no-repeat url('./assets/Greece-3.png'); */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item4 {
    /* background: no-repeat url('./assets/London-4.png'); */
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item5 {
    /* background: no-repeat url('./assets/Amsterdam-5.png'); */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item6 {
    /* background: no-repeat url('./assets/Paris-6.png'); */
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}