* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

/* Header */
.header {
    max-width: 708px;
    width: 100%;
    max-height: 112px;
    height: 100%;
    margin-left: 3%;
    margin-top: 51px;
    font-family: 'Roboto';
}

.header__headline {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.6399999856948853px;
    text-align: left;
}

.header__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.3799999952316284px;
    text-align: left;
    margin-top: 7%;
}

/* Content */
.content {
    display: grid;
    width: 100%;
    padding: 3%;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-areas: 
    "a c d d"
    "b c e f"
    ;
    font-family: 'Roboto';
}

.content__item {
    border-radius: 20px; 
    position: relative;   
}

.content__item-text {
    position: absolute;
    bottom: 20px;
    font-style: none;
    color: white;
    margin-left: 35px;
}

.content__headline {
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3799999952316284px;
    text-align: left;
    margin-bottom: 8px;
}

.content__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 0;
}

.item1 {
    grid-area: a;
}

.item2 {
    grid-area: b;
}

.item3 {
    grid-area: c;
}

.item4 {
    grid-area: d;
}

.item5 {
    grid-area: e;
}

.item6 {
    grid-area: f;
}

@media (max-width: 1049px) {
    .content {  
        max-width: 921px;
        margin: 10% auto;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-template-areas: 
        "c c f"
        "c c a"
        "d d d"
        "e b b"
        ;
    }
}

@media (max-width: 475px) {
   .content {
    gap: 1%;
    margin: 10% 1%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,240px);
    grid-template-areas: 
    'c'
    'd'
    'f'
    'a'
    'b'
    'e'
    ;
   }
}

.content__item-img {
    border-radius: 32px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}